@model IEnumerable<Hotel_DAL.Entities.User>

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
    <tr>
        <td>@user.Name</td>
        <td>@user.Surname</td>
        <td>@user.PhoneNumber</td>
        <td>
            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
        </td>
    </tr>
    }
</table>